<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="utf-8">
    <title>WheelySnail</title>
    <link href="styles/wheelysnail.css" rel="stylesheet" />
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div id="page" ng-controller="homeCtrl">
        <header class="container-fluid">
            <div id="menu" class="navbar navbar-default">
                <div class="navbar-header">
                    <button class="btn btn-primary navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="glyphicon glyphicon-chevron-down"></span></button>
                    <div id="logo">
						<h1><a href="index.html">wheelysnail</a></h1>
                    </div>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav active"><a href="index.html">Home</a></li>
                        <li class="nav"><a href="about.html">About</a></li>
                    </ul>
                </div>
            </div>
        </header>

        <section id="top-content" class="container-fluid hidden-sm hidden-xs">
            
            <div class="row">
            	<section id="image-carousel" class="carousel slide col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2" data-interval="7000">

					<div class="carousel-inner" carouselcontainer>

                		<div ng-repeat="picture in pictures | filter:filters" class="item" ng-class="{active : $first}">
           					<img src="{{picture.src}}" alt="{{picture.alt}}" />
               				<div class="carousel-caption">
                			<p>{{picture.alt}}</p>
               				</div>
        				</div>  
                		
                	</div>
                	
                	<a href="#image-carousel" class="carousel-control left" data-slide="prev"><span class="icon-prev"></span></a>
					<a href="#image-carousel" class="carousel-control right" data-slide="next"><span class="icon-next"></span></a>

            	</section>

            </div>
            <hr />
        </section>

        <section id="main-content" class="container-fluid">
        	<div class="row">
        	
            	<section id="images" class="col-sm-8 hidden-md hidden-lg">
            	
                	<section ng-repeat="picture in pictures | filter:filters" class="row body-image">
                    	<img src="{{picture.src}}" alt="{{picture.alt}}" class="img-thumbnail" />
                    	<p class="list-caption">{{picture.alt}}</p>
                	</section>
         	
            	</section>
            	
            	<section id="sidebar" class="col-sm-3">
                	<div class="panel">
                    	<div class="panel-heading panel-default">
                    		<h2>Categories</h2>
                    	</div>
                    	<div class="panel-body">
                    		<ul>
                    			<li ng-repeat="picture in pictures | unique: 'categories'" ng-click="changefilter(picture.categories)" ng-class="{'activecategory':picture.categories === activecategory}">{{picture.categories}}</li>
                        		<li ng-click="changefilter('')">Show all</li>
                        	</ul> 
                    	</div>
                	</div>
            	</section>
            	
            </div>
        </section>

        <footer class="container-fluid">
            <hr />
            <p>Copyright Alice Waddicor 2014. Feel free to use these pictures for non-commercial purposes as long as you acknowledge the source.</p>
        </footer>
		<script src="lib/angular/angular.min.js"></script>
    	<script src="js/app.js"></script>
    	<script src="js/controllers/homeCtrl.js"></script>
        <script src="lib/jquery/jquery-2.1.0.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="js/wheelysnail.js" script-type="text/javascript"></script>
    </div>
</body>
</html>